---
name: Linting

on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v6

      - name: Cache pre-commit
        uses: actions/cache@v4
        with:
          path: ~/.cache/pre-commit
          key: cache-${{ hashFiles(inputs.pre-commit-config) }}

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.x

      - name: Install pre-commit
        shell: bash
        run: python -m pip install pre-commit

      - name: Run pre-commit
        shell: bash
        run: pre-commit run --all-files --color always --verbose

      # yamllint disable-line rule:line-length
      - uses: pre-commit-ci/lite-action@v1.1.0
        if: ${{ !cancelled() }}
